---
import AuthorCard from "@components/AuthorCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const authors = await getCollection("author");
---

<MainLayout title="Autores">
  <section class="grid sm:grid-cols-2 gap-2">
    {authors.map((author) => <AuthorCard author={author} />)}
  </section>
</MainLayout>
