---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const post = await getCollection("blog");
---

<MainLayout title="Dev's blog">
	<!-- component -->
	<section class="bg-white dark:bg-gray-900 max-w-4xl mx-auto">
		<div class="container px-6 py-10 mx-auto">
			<h1
				class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
			>
				Blog de Programación - React, Astro, Next.js, TypeScript, Node.js,
				Express, MongoDB and more
			</h1>

			<div class="text-gray-200 text-sm mt-5 flex gap-5">
				<a href="/blog/1" class="hover:underline">Paginación</a>
				<a href="/authors" class="hover:underline">✍️Autores</a>
			</div>

			<div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
				{post.map((post) => <BlogPost post={post} />)}
			</div>
		</div>
	</section>
</MainLayout>
