---

---

<h1
  class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
>
  JoseDev's Blog
</h1>

<div class="text-gray-200 text-sm mt-5 flex gap-5">
  <a href="/" class="hover:underline">Home</a>
  <a href="/blog/1" class="hover:underline">Paginación</a>
  <a href="/authors" class="hover:underline">✍️Autores</a>
</div>
