---
interface Props {
  title?: string;
}
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
const { title = "Collections and images" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gray-900">
    <main class="mb-10 max-w-4xl mx-auto">
      <slot />
    </main>
  </body>
</html>
